<p id="notice"><%= notice %></p>

<p>
  <b>Detail:</b>
  <%= @expense.detail %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
